@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-background-primary: rgb(200, 200, 200);
    --color-text-primary: rgb(0, 0, 0);

    [data-theme="dark"]{
      --color-background-primary: rgb(32, 39, 49);
      --color-text-primary: rgb(140, 148, 154);
    }
  }
  
}

@layer utilities {
  .bg-skin-primary {
    background-color: var(--color-background-primary);
  }
  .text-skin-primary {
    color: var(--color-text-primary);
  }
}